<h1 class="text-center">Editing Invoice</h1>

<%= render 'form', invoice: @invoice %>

<%= link_to 'Show', @invoice ,:class => 'btn blue-gradient waves-effect waves-light'%> |
<%= link_to 'Back', invoices_path ,:class => 'btn peach-gradient waves-effect waves-light'%>
